.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;

    .title {
        margin: 10px 0;
    }

    img{
        display: block;
        margin: 0 auto;
        width: 50%;
        height: 50%;
    }

    h2{
        margin-top: 10px;
        // font-weight: 700;
        color: #8E8E8E;
        font-size: 17px;
        font-weight: 600;
        line-height: 20px;
        // margin: 0 40px 10px;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;;
    }
}