body {
  display: flex;
  align-items: center;
  justify-content: center;
}


.sign-in-and-sign-up {
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border: 1px gray solid;
    margin: 5vh;
    padding: 25px;
  }